* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik Mono One", sans-serif;
}

.numbers {
  position: absolute;
  right: 0;
  top: 30px;
}

.one,
.two,
.three {
  background-color: white;
  border-radius: 50%;
  padding: 0.8rem 1rem;
  margin: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

#red,
#green,
#yellow {
  height: 100vh;
  width: 100%;
  position: relative;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: yellow;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

#yellow h1 {
  color: green;
}

.vans,
.adidas,
.allstar {
  width: 100%;
}
